@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

@font-face {
    font-family: 'Iron Maiden';
    src: url('/iron-maiden/fonts/maiden.ttf');
}

:root{
    --font1: 'Metal Mania', sans-serif
    --font2: 'Roboto Condensed', sans-serif;
    --font3: 'Iron Maiden', cursive;
    --color1: rgb(202, 202, 202);
    --color2: #eee;
    --color3: #000;
}

*{
    margin: 0;
    padding: 0;
    font-variant: small-caps;
    font: var(--font2);
}

 /* section */

 section{
    padding-top: 5vh;
    padding-bottom: 2vh;
    line-height: 1.5em;
    padding-left: 30px;
    font-family: var(--font1), sans-serif;
    font-size: 1.65em;
    font-variant: small-caps;
    color: var(--color3);
 }
 
 section h2{

    font-family: var(--font1);
    font-size: 1.65em;
    text-align: center;
    color: var(--color3);
    margin: auto auto 50px -90px;

}

section.normal{
    background-color: var(--color2);
}

 section.image{
     background-color: rgb(51, 51, 51);
     color: white;
     box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.434);
     background-size: cover;
     background-attachment: fixed;

 }section.image p{
    display: inline-block;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.529);
    text-shadow: 1px 1px 1px black;
 }

/***************** songs *****************/

/* Aces High */

 section#aces_1{
     background-image: url("/iron-maiden/images/aces_1.jpg");
 }

 section#aces_2{
     background-image: url("/iron-maiden/images/aces_2.jpg");
     background-position: center center;
 }

 /* The Writing on the Wall */

 section#wall_1{
    background-image: url("/iron-maiden/images/wall1.jpg");
}

section#wall_2{
    background-image: url("/iron-maiden/images/wall2.jpg");
}

/* When The Wild Wind Blows */

section#when_1{
    background-image: url("/iron-maiden/images/when_1.jpg");
}

section#when_2{
    background-image: url("/iron-maiden/images/when_2.jpg");
    background-position: top center;
}

section#when_3{
    background-image: url("/iron-maiden/images/when_3.jpg");
}

/* Drem of Mirros */

section#dream_1{
    background-image: url("/iron-maiden/images/dream_1.jpg");
    background-position: top center;
}

section#dream_2{
    background-image: url("/iron-maiden/images/dream_2.jpg");
    background-position: top center;
}

section#dream_3{
    background-image: url("/iron-maiden/images/dream_3.jpg");
}

/* Dance of Death */

section#dance_1{
    background-image: url("/iron-maiden/images/dance_1.jpg");
    background-position: cover;
}

section#dance_2{
    background-image: url("/iron-maiden/images/dance_2.jpg");
}

/* Blood Brothers */

section#blood_1{
    background-image: url("/iron-maiden/images/blood_1.jpg");
}

section#blood_2{
    background-image: url("/iron-maiden/images/blood_2.jpg");
}

/*Gates of Tomorrow*/

section#gates_1{
    background-image: url("/iron-maiden/images/gates_1.jpg");
}

/* The Wicker Man */
section#wicker_1{
    background-image: url("/iron-maiden/images/wicker_1.jpg");
}

/* No More Lies */
section#more_1{
    background-image: url("/iron-maiden/images/more_1.jpg");
}

section#more_2{
    background-image: url("/iron-maiden/images/more_2.jpg");
}

section#more_3{
    background-image: url("/iron-maiden/images/more_3.jpg");
}

section p#no_more{
    padding-right: 140px;
}

/* Brave New World */
section#brave_1{
    background-image: url("/iron-maiden/images/brave_1.jpg");
}

section#brave_2{
    background-image: url("/iron-maiden/images/brave_2.jpg");
}

 /**************************************/


 /* bottom */

 section.image.last{
    padding-bottom: 100px;
 }

 section.image.last.active{
    padding-bottom: 30px;
 }

 section.normal.last{
    padding-bottom: 100px;
 }

 section.normal.last.active{
    padding-bottom: 30px;
 }


 section#section-bottom{
     padding: 5px;
     background-color: rgb(34, 34, 34);
     box-shadow: 3px 3px 10px rgb(0, 0, 0);
 }

section .back-next{
    display: flex;
    width: 30%;
    justify-content: space-between;
    margin: auto;
    padding: 5px;
 }

 section .back-next a{

    width: 5rem;
    height: 2.8rem;
    background-color: var(--color1);
    border: none;
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    transition: background 200ms;

 }

 section .back-next a:hover{
     background: rgb(84, 29, 27);
 }

 section #back{
    transform: scaleX(-1);
 }

 /* music-player */


 .music-player{
     position: fixed;
     bottom: 0px;
     left: 0;
     right: 0;
     background-color: #fff;
     transition: .3s linear;
 }

 .music-player.active{
     bottom: -125px;
 }

 .music-player .music-title{
     font-family: var(--font1);
     font-size: 30px;
     margin-bottom: 5px;
     border-top: 3px solid #000;
     border-bottom: 3px solid #000;
     text-align: center;
     color: #000;
     background-color: var(--color1);
     padding: 10px;
 }

 .music-player audio{
     width: 100%;
     background-color: #333;
     margin-top: -5px;
     margin-bottom: -4px;
     border-bottom: 3px solid #000;
 }

 .music-player audio::-webkit-media-controls-enclosure{
    border-radius: 0;
    background: var(--color1);
}
.music-player audio::-webkit-media-controls-mute-button{
    color: #fff;
}

.music-player #close-player{
    position: absolute;
    top: -50px;
    right: 5px;
    height: 50px;
    width: 55px;
    line-height: 50px;
    cursor: pointer;
    font-size: 30px;
    color: #000;
    background: var(--color1);
    border: 3px solid #000;
    border-bottom: none;
    text-align: center;
    border-radius: 10px 10px 0 0;
   
}


